/*General*/
body {
    overflow: hidden;
    margin: 0px;
    line-height: 1.5;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/*Navigation*/
nav {
    position: relative;
    float:left;
    width: 300px;
    height: 100vh;
    border-radius: 5px;
    overflow: inherit;
    background-image: url("res/nav/menubg.jpg");
}
h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    color: white;
}
#Jason {
    color: bisque;
}
#pp {
    width: 270px;
    height: 152px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 5px;
    border-style: solid;
    border-color: bisque;
    opacity: 0.9;
}
#menu {
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color: bisque;
}
.main {
    margin-top: 20px;
    margin-bottom: 10px;
}
.menuicon {
    width: 24px;
    position: relative;
    bottom: -2px;
    display: inline;
    vertical-align: middle;
    float: right;
}
.submenu {
    display: none;
}
.sub {
    margin: 10px;
    text-indent: 20px;
    font-weight: 100;
    color: white;
}
#contactinfo {
    width: 250px;
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 5px;
    text-align: center;
    background-color: azure;
}

/*Content*/
article {
    height: 100vh;
    border-radius: 5px;
    padding: 30px;
    overflow: auto;
    background-image: url(res/nav/articlebg.jpg);
}
.content {
    margin-bottom: 30px;
    border: 7.5px;
    border-style: double;
    border-color: burlywood;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    background-color: floralwhite;
}
.content p {
    padding-top: 0px;
}
#title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
#mainpic {
    width: 250px;
    height: 250px;
    vertical-align: text-top;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 5px;
    border-style: solid;
    border-color: bisque;
}
.pic {
    width: 280px;
    height: 210px;
    vertical-align: text-top;
    float: right;
    border: 5px;
    border-style: solid;
    border-color: bisque;
    margin-left: 20px;
}

/*MISC*/
.button {
    width: 100px;
    height: 75px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    background-color: darkseagreen;
    box-shadow: inset 0 0 10px #000000;
}
.buttonText {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 0px;
    font-size: 16px;
    color: ghostwhite;
}